body {
    background-color: rgb(86, 80, 76);;
    font-size: 15pt;
    color: white;
}
.image1{
    height: 70px;
    position: absolute;left:0px;
    position: absolute;top:0px;

}
.image2{
    height: 200px; 
    position: absolute; bottom: 10px;
    position: absolute;left: 10px;
}
.image3{
    height: 200px;
    position: absolute;right:10px;
    position: absolute;bottom: 10px;
}
.button{
    position: absolute;bottom: 0px; 
    position: absolute;left: 600px;
    font-size: 30pt; color:white;
    background-color: red;
}
/* <!-- 751x745 --> */
/* <!-- 980x1183 */


    
@media only screen and (max-width: 420px){
    body {
        background-color: rgb(86, 80, 76);
        font-size: 12pt;
        color: white;
    }
    .image1{
        height: 30px;
        position: absolute;left:0px;
        position: absolute;top:0px;
    
    }
    .image2{
        height: 70px; 
        position: absolute; bottom: 0px;
        position: absolute;left: 0px;
    }
    .image3{
        height: 70px;
        position: absolute;right:0px;
        position: absolute;bottom: 0px;
    }
    .button{
        position: absolute;bottom: 0px; 
        position: absolute;left: 150px;
        font-size: 10pt; color:white;
        background-color: red;
    }
}